.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  width: calc(100% -20px);
  height: 140px;
  background: linear-gradient(180deg, #ece8e1 30%, transparent 100%);
  pointer-events: none;
}
