@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: @apply text-slate-50;
  --background: #ece8e1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #
  }
} */

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);

  height: 100%;
  width: 100%;
  overflow-y: auto;
}

body.modal--open {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.line-break {
  white-space: pre-wrap;
}

.text-stroke {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-strokewidth: 1px;
  -webkit-text-stroke-color: #d1d5db;
}
