@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: @apply text-slate-50;
  --background: #ece8e1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);

  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

body.modal--open {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.line-break {
  white-space: pre-wrap;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fefaf3 inset !important;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ece8e1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #888;
  border-radius: 10px;
  border: 3px solid #ece8e1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-stroke {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d1d5db;
}
